/*Original Styling*/

body {
	color: white;
}

h2 {
	color: #3498db;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

.contactMe {
	padding-top: 30px;
}

#imagePrgph {
	float: left;
	padding-left: 5px;
	padding-right: 15px;
}

#introPrgph {
	padding-top: 90px;
}


#intro {
	padding-bottom: 30px;
}

.section{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.fa-3x {
	color: white;
	text-decoration-color: white;
}

/*Mostly original, but also Partially using CSS from W3Schools*/
.picture {
	float: left;
	padding: 0.25rem;
	background-color: #fff;
	border: 1px solid #dee2e6;
	border-radius: 0.25rem;
	width: 180px;
	height: 275px;
	max-height: 1%;
	max-width: 100%;
	-ms-flex: 0 0 33.333333%;
	flex: 0 0 33.333333%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
}

.footer {
	color: white;
	padding: 6px;
	border-radius: 0.3rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}